/* Reset de estilos */
* {
    padding: 0;
    margin: 0;
}

/* Estilos da página */
body {
    background-color: rgb(255, 255, 255);
}

/* Estilos da navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(78, 34, 34);
    box-shadow: 0 2px 4px rgba(93, 32, 32, 0.626);
    /* Adiciona sombra */
}


.navbar img {
    max-height: 50px;
    /* Define a altura máxima da imagem */
    margin-left: 20px;
}

.navbar nav ul {
    display: flex;
    list-style: none;
    /* Remove os marcadores de lista */

}

.navbar nav ul li {
    margin: 0 10px;
    /* Adiciona um pouco de espaço entre os itens da lista */
    cursor: pointer;
    /* Muda o cursor para indicar que os itens da lista são clicáveis */

}

.letras {
    position: relative;
    /* Para que o pseudo-elemento possa ser posicionado em relação a este elemento */
    text-decoration: none;
    color: #fd8d3d;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 17px;
    margin-top: 10px;
    margin-right: 40px;
    transition: color 0.3s ease;
    /* Transição suave para a cor do texto */
    text-transform: uppercase;
}

.letras::before {
    content: '';
    /* Adiciona um conteúdo vazio */
    position: absolute;
    /* Posicionamento absoluto em relação ao elemento pai (.letras) */
    bottom: -3px;
    /* Posiciona o quadrado abaixo do texto */
    left: 0;
    /* Alinha o quadrado à esquerda */
    width: 100%;
    /* Largura igual à largura do elemento pai */
    height: 3px;
    /* Altura do quadrado */
    background-color: transparent;
    /* Cor inicial transparente */
    transition: background-color 0.3s ease;
    /* Transição suave para a cor de fundo */
}

.letras:hover::before {
    background-color: rgb(255, 160, 0);
    /* Cor do quadrado quando o hover é acionado */
}
.sabores h1 {
    color: #fd8d3d;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}